model_config_list{
  config {
    name: 'yolo_1'
    base_path: '/models/yolo_1/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'yolo_2'
    base_path: '/models/yolo_2/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'yolo_3'
    base_path: '/models/yolo_3/'
    model_platform: 'tensorflow'
  }
}